

###############################
MOTOR
###############################
[sound]
D_0826LUH_on_1.wav
0.6

[3d]
-0.7
-2.8
0.7
4.5

[trigger]
ev_engine_starter

......................

[loopsound]
D_0826LUH_on_2.wav
48000
engine_n
150
0.6

[3d]
-0.7
-2.8
0.7
4.5

[volcurve]
-1

[pnt]
0.1
0

[pnt]
0.3
1

[conditionSingle]
engine_starter
1
1

[conditionSingle]
engine_on
0
1

......................

[sound]
D_0826LUH_on_3.wav
0.6

[3d]
-0.7
-2.8
0.7
4.5

[trigger]
ev_engine_ingnition

......................

[sound]
D_0826LUH_off.wav
1

[3d]
-0.7
-2.8
0.7
4.5

[trigger]
ev_engineshutdown


###################################################################
[loopsound]
D_0826LUH@460.wav
48000
engine_n
460
1

[3d]
-0.7
-2.8
0.7
3

4.5

[volcurve]
engine_throttle_injection

[pnt]
0
0.8

[pnt]
1.0
1.0

[volcurve]
engine_n

[pnt]
0
0

[pnt]
200
0

[pnt]
400
1

[pnt]
460
1

[pnt]
491
0.7

[pnt]
522
0


#############################################

[loopsound]
D_0826LUH@522.wav
48000
engine_n
522
1

[3d]
-0.7
-2.8
0.7
3

4.5

[volcurve]
engine_throttle_injection

[pnt]
0
0.8

[pnt]
1.0
1.0

[volcurve]
engine_n

[pnt]
460
0

[pnt]
491
0.7

[pnt]
522
1

[pnt]
577
0.7

[pnt]
632
0


#############################################

[loopsound]
D_0826LUH@632.wav
48000
engine_n
632
1

[3d]
-0.7
-2.8
0.7
3

4.5

[volcurve]
engine_throttle_injection

[pnt]
0
0.8

[pnt]
1.0
1.0

[volcurve]
engine_n

[pnt]
522
0

[pnt]
577
0.7

[pnt]
632
1

[pnt]
740
0.7

[pnt]
847
0


#############################################

[loopsound]
D_0826LUH@847.wav
48000
engine_n
847
1

[3d]
-0.7
-2.8
0.7
3

4.5

[volcurve]
engine_throttle_injection

[pnt]
0
0.8

[pnt]
1.0
1.0

[volcurve]
engine_n

[pnt]
632
0

[pnt]
740
0.7

[pnt]
847
1

[pnt]
918
0.7

[pnt]
989
0

#############################################

[loopsound]
D_0826LUH@989.wav
48000
engine_n
989
1

[3d]
-0.7
-2.8
0.7
3

4.5

[volcurve]
engine_throttle_injection

[pnt]
0
0.8

[pnt]
1.0
1.0

[volcurve]
engine_n

[pnt]
847
0

[pnt]
918
0.7

[pnt]
989
1

[pnt]
1212
0.7

[pnt]
1434
0

#############################################

[loopsound]
D_0826LUH@1434.wav
48000
engine_n
1434
1

[3d]
-0.7
-2.8
0.7
3

4.5

[volcurve]
engine_throttle_injection

[pnt]
0
0.8

[pnt]
1.0
1.0

[volcurve]
engine_n

[pnt]
989
0

[pnt]
1212
0.7

[pnt]
1434
1

[pnt]
1657
0.7

[pnt]
1880
0

#############################################

[loopsound]
D_0826LUH@1880.wav
48000
engine_n
1880
1

[3d]
-0.7
-2.8
0.7
3

4.5

[volcurve]
engine_throttle_injection

[pnt]
0
0.8

[pnt]
1.0
1.0

[volcurve]
engine_n

[pnt]
1434
0

[pnt]
1657
0.7

[pnt]
1880
1

[pnt]
2140
0.7

[pnt]
2400
0

#############################################

[loopsound]
D_0826LUH@2400.wav
48000
engine_n
2400
1

[3d]
-0.7
-2.8
0.7
3

[volcurve]
engine_throttle_injection

[pnt]
0
0.8

[pnt]
1.0
1.0

[volcurve]
engine_n

[pnt]
1880
0

[pnt]
2140
0.7

[pnt]
2400
1



###################################################################
Außensound
###################################################################

[loopsound]
D_0826LUH_ext@470.wav
48000
engine_n
470
0.8

[viewpoint]
5

[3d]
-0.7
-2.8
0.7
4.5

[volcurve]
engine_n

[pnt]
200
0

[pnt]
300
1

[pnt]
470
1

[pnt]
486
0.7

[pnt]
502
0


#############################################

[loopsound]
D_0826LUH_ext@502.wav
48000
engine_n
502
0.8

[viewpoint]
5

[3d]
-0.7
-2.8
0.7
4.5

[volcurve]
engine_n


[pnt]
470
0

[pnt]
486
0.7

[pnt]
502
1

[pnt]
605
0.7

[pnt]
708
0


#############################################

[loopsound]
D_0826LUH_ext@708.wav
48000
engine_n
708
0.8

[viewpoint]
5

[3d]
-0.7
-2.8
0.7
4.5

[volcurve]
engine_n

[pnt]
502
0

[pnt]
605
0.7

[pnt]
708
1

[pnt]
1021
0.7

[pnt]
1334
0


#############################################

[loopsound]
D_0826LUH_ext@1334.wav
48000
engine_n
1334
0.8

[viewpoint]
5

[3d]
-0.7
-2.8
0.7
4.5


[volcurve]
engine_n

[pnt]
708
0

[pnt]
1021
0.7

[pnt]
1334
1

[pnt]
1556
0.7

[pnt]
1777
0



#############################################

[loopsound]
D_0826LUH_ext@1777.wav
48000
engine_n
1777
0.8

[viewpoint]
5

[3d]
-0.7
-2.8
0.7
4.5

[volcurve]
engine_n

[pnt]
1334
0

[pnt]
1556
0.7

[pnt]
1777
1

[pnt]
2077
0.7

[pnt]
2376
0


#############################################

[loopsound]
D_0826LUH_ext@2376.wav
48000
engine_n
2376
0.8

[viewpoint]
5

[3d]
-0.7
-2.8
0.7
4.5

[volcurve]
engine_n

[pnt]
1777
0

[pnt]
2077
0.7

[pnt]
2376
1



##############################################
#############################################

Hinterachse Schubbetrieb

#############################################




Rechte Seite:

[loopsound]
NG272_axle_schub@95.wav
48000
Wheel_RotationSpeed_2_R
95
0.7


[3d]
0
-0.4
0.5
7


[volcurve]
M_Wheel

[pnt]
0
1

[pnt]
1000
0



[volcurve]
Wheel_RotationSpeed_2_R

[pnt]
20
0

[pnt]
95
1

[pnt]
150
0



[loopsound]
NG272_axle_schub@273.wav
48000
Wheel_RotationSpeed_2_R
273
0.7


[3d]
0
-0.4
0.5
7


[volcurve]
M_Wheel

[pnt]
-1000
1

[pnt]
2000
0



[volcurve]
Wheel_RotationSpeed_2_R

[pnt]
20
0

[pnt]
273
1



#############################################

Hinterachse Leerlauf

#############################################




#############################################

Hinterachse Traktionsbetrieb

#############################################


Rechte Seite:
[loopsound]
NG272_axle@085.wav
48000
Wheel_RotationSpeed_2_R
85
0.7


[3d]
0
-0.4
0.5
7


[volcurve]
M_Wheel


[pnt]
500
0

[pnt]
3500
1

[volcurve]
Wheel_RotationSpeed_2_R

[pnt]
20
0

[pnt]
80
1

[pnt]
108
0.7

[pnt]
130
0

#############################################

[loopsound]
NG272_axle@130.wav
48000
Wheel_RotationSpeed_2_R
130
0.8


[3d]
0
-0.4
0.5
7


[volcurve]
M_Wheel


[pnt]
500
0

[pnt]
3500
1

[volcurve]
Wheel_RotationSpeed_2_R

[pnt]
80
0

[pnt]
108
0.7

[pnt]
130
1

[pnt]
145
0.7

[pnt]
159
0

#############################################

[loopsound]
NG272_axle@159.wav
48000
Wheel_RotationSpeed_2_R
159
0.8


[3d]
0
-0.4
0.5
7


[volcurve]
M_Wheel


[pnt]
500
0

[pnt]
3500
1

[volcurve]
Wheel_RotationSpeed_2_R

[pnt]
130
0

[pnt]
145
0.7

[pnt]
159
1

[pnt]
184
0.7

[pnt]
209
0

#############################################

[loopsound]
NG272_axle@209.wav
48000
Wheel_RotationSpeed_2_R
209
0.8


[3d]
0
-0.4
0.5
7


[volcurve]
M_Wheel


[pnt]
500
0

[pnt]
3500
1

[volcurve]
Wheel_RotationSpeed_2_R

[pnt]
159
0

[pnt]
184
0.7

[pnt]
209
1

[pnt]
228
0.7

[pnt]
246
0


#############################################

[loopsound]
NG272_axle@246.wav
48000
Wheel_RotationSpeed_2_R
246
0.8


[3d]
0
-0.4
0.5
7


[volcurve]
M_Wheel


[pnt]
500
0

[pnt]
3500
1

[volcurve]
Wheel_RotationSpeed_2_R


[pnt]
209
0

[pnt]
228
0.7

[pnt]
246
1



#############################################

Retarder

#############################################

[loopsound]
retarder02.wav
44100
Wheel_RotationSpeed_2_R
47
1


[3d]
0
-1.8
0.6
7

[volcurve]
-1

[pnt]
0
0

[pnt]
1
1

[volcurve]
Wheel_RotationSpeed_2_R

[pnt]
0
0

[pnt]
20
0.7

[pnt]
47
1

[pnt]
79
0.7

[pnt]
110
0


[conditionSingle]
antrieb_wendesatz
1
1




[loopsound]
NG272_retarder@104.wav
48000
Wheel_RotationSpeed_2_R
104
1


[3d]
0
-1.8
0.6
7

[volcurve]
-1

[pnt]
0
0

[pnt]
1
1

[volcurve]
Wheel_RotationSpeed_2_R

[pnt]
47
0

[pnt]
79
0.7

[pnt]
104
1

[pnt]
135
0.7

[pnt]
160
0


[conditionSingle]
antrieb_wendesatz
1
1





[loopsound]
NG272_retarder@160.wav
48000
Wheel_RotationSpeed_2_R
160
1


[3d]
0
-1.8
0.6
7

[volcurve]
-1

[pnt]
0
0

[pnt]
1
1

[volcurve]
Wheel_RotationSpeed_2_R

[pnt]
110
0

[pnt]
135
0.7

[pnt]
160
1

[pnt]
185
0.7

[pnt]
209
0


[conditionSingle]
antrieb_wendesatz
1
1




[loopsound]
NG272_retarder@209.wav
48000
Wheel_RotationSpeed_2_R
209
1


[3d]
0
-1.8
0.6
7

[volcurve]
-1

[pnt]
0
0

[pnt]
1
1

[volcurve]
Wheel_RotationSpeed_2_R


[pnt]
160
0

[pnt]
185
0.7


[pnt]
209
1


[conditionSingle]
antrieb_wendesatz
1
1

#############################################

Retarder-Einsetzsound

#############################################

[loopsound]
NG272_retarder_start@85.wav
44100
Wheel_RotationSpeed_2_R
85
1

[noloop]

[3d]
0
-1.8
0.6
7

[conditionSingle]
antrieb_wendesatz
1
1

[volcurve]
Wheel_RotationSpeed_2_R

[pnt]
0
0

[pnt]
85
1

[pnt]
150
0.7

[pnt]
200
0

[volcurve]
antrieb_retarder

[pnt]
0
0

[pnt]
1
1



[loopsound]
NG272_retarder_start@216.wav
48000
Wheel_RotationSpeed_2_R
216
1

[noloop]

[3d]
0
-1.8
0.6
7

[conditionSingle]
antrieb_wendesatz
1
1

[volcurve]
Wheel_RotationSpeed_2_R

[pnt]
100
0

[pnt]
216
1

[volcurve]
antrieb_retarder

[pnt]
0
0

[pnt]
1
1







###############################################

	Türen

###############################################




[sound]
D92_bdoor_opn.wav
1

[3d]
1.11
1.12
2.03
2

[volcurve]
door_4

[pnt]
0
1

[pnt]
0.98
1

[pnt]
1
0

[trigger]
ev_doortriggeropen_4

[sound]
D92_bdoor_cls.wav
1

[3d]
1.11
1.12
2.03
2

[volcurve]
door_4

[pnt]
0
0

[pnt]
0.01
1

[pnt]
1
1


[trigger]
ev_doortriggerclose_4

##################################
Klappfenster
##################################

[sound]
klappfenster_opn.wav
1

[3d]
0
-2
2.3
5

[trigger]
ev_klappfenster_opn_T

[sound]
klappfenster_cls.wav
1

[3d]
0
-2
2.3
5

[trigger]
ev_klappfenster_cls_T
