

###############################
MOTOR
###############################

################################################################
[sound]
D_0826LUH_on_1.wav
0.6

[3d]
-0.7
-2.8
0.7
4.5

[trigger]
ev_engine_starter

......................

[loopsound]
D_0826LUH_on_2.wav
48000
engine_n
150
0.6

[3d]
-0.7
-2.8
0.7
4.5

[volcurve]
-1

[pnt]
0.1
0

[pnt]
0.3
1

[conditionSingle]
engine_starter
1
1

[conditionSingle]
engine_on
0
1

......................

[sound]
D_0826LUH_on_3.wav
0.6

[3d]
-0.7
-2.8
0.7
4.5

[trigger]
ev_engine_ingnition




###################################################################

[sound]
D_0826LUH_off.wav
1

[3d]
-0.7
-2.8
0.7
4.5

[trigger]
ev_engineshutdown

###################################################################
[loopsound]
D_0826LUH@460.wav
48000
engine_n
460
1

[3d]
-0.7
-2.8
0.7
3

4.5

[volcurve]
engine_throttle_injection

[pnt]
0
0.8

[pnt]
1.0
1.0

[volcurve]
engine_n

[pnt]
0
0

[pnt]
200
0

[pnt]
400
1

[pnt]
460
1

[pnt]
491
0.7

[pnt]
522
0


#############################################

[loopsound]
D_0826LUH@522.wav
48000
engine_n
522
1

[3d]
-0.7
-2.8
0.7
3

4.5

[volcurve]
engine_throttle_injection

[pnt]
0
0.8

[pnt]
1.0
1.0

[volcurve]
engine_n

[pnt]
460
0

[pnt]
491
0.7

[pnt]
522
1

[pnt]
577
0.7

[pnt]
632
0


#############################################

[loopsound]
D_0826LUH@632.wav
48000
engine_n
632
1

[3d]
-0.7
-2.8
0.7
3

4.5

[volcurve]
engine_throttle_injection

[pnt]
0
0.8

[pnt]
1.0
1.0

[volcurve]
engine_n

[pnt]
522
0

[pnt]
577
0.7

[pnt]
632
1

[pnt]
740
0.7

[pnt]
847
0


#############################################

[loopsound]
D_0826LUH@847.wav
48000
engine_n
847
1

[3d]
-0.7
-2.8
0.7
3

4.5

[volcurve]
engine_throttle_injection

[pnt]
0
0.8

[pnt]
1.0
1.0

[volcurve]
engine_n

[pnt]
632
0

[pnt]
740
0.7

[pnt]
847
1

[pnt]
918
0.7

[pnt]
989
0

#############################################

[loopsound]
D_0826LUH@989.wav
48000
engine_n
989
1

[3d]
-0.7
-2.8
0.7
3

4.5

[volcurve]
engine_throttle_injection

[pnt]
0
0.8

[pnt]
1.0
1.0

[volcurve]
engine_n

[pnt]
847
0

[pnt]
918
0.7

[pnt]
989
1

[pnt]
1212
0.7

[pnt]
1434
0

#############################################

[loopsound]
D_0826LUH@1434.wav
48000
engine_n
1434
1

[3d]
-0.7
-2.8
0.7
3

4.5

[volcurve]
engine_throttle_injection

[pnt]
0
0.8

[pnt]
1.0
1.0

[volcurve]
engine_n

[pnt]
989
0

[pnt]
1212
0.7

[pnt]
1434
1

[pnt]
1657
0.7

[pnt]
1880
0

#############################################

[loopsound]
D_0826LUH@1880.wav
48000
engine_n
1880
1

[3d]
-0.7
-2.8
0.7
3

4.5

[volcurve]
engine_throttle_injection

[pnt]
0
0.8

[pnt]
1.0
1.0

[volcurve]
engine_n

[pnt]
1434
0

[pnt]
1657
0.7

[pnt]
1880
1

[pnt]
2140
0.7

[pnt]
2400
0

#############################################

[loopsound]
D_0826LUH@2400.wav
48000
engine_n
2400
1

[3d]
-0.7
-2.8
0.7
3

[volcurve]
engine_throttle_injection

[pnt]
0
0.8

[pnt]
1.0
1.0

[volcurve]
engine_n

[pnt]
1880
0

[pnt]
2140
0.7

[pnt]
2400
1

###################################################################
Lastsound innen
###################################################################

[loopsound]
D_0826LUH_load@989.wav
48000
engine_n
989
1

[3d]
-0.7
-2.8
0.7
3

[volcurve]
engine_n

[pnt]
500
0

[pnt]
989
1

[pnt]
1169
0.7

[pnt]
1348
0

[volcurve]
engine_M

[pnt]
0
0

[pnt]
300
1

#############################################

[loopsound]
D_0826LUH_load@1348.wav
48000
engine_n
1348
1

[3d]
-0.7
-2.8
0.7
3

[volcurve]
engine_n

[pnt]
989
0

[pnt]
1169
0.7

[pnt]
1348
1

[pnt]
1520
0.7

[pnt]
1692
0


[volcurve]
engine_M

[pnt]
0
0

[pnt]
300
1

#############################################

[loopsound]
D_0826LUH_load@1692.wav
48000
engine_n
1692
1

[3d]
-0.7
-2.8
0.7
3

[volcurve]
engine_n

[pnt]
1348
0

[pnt]
1520
0.7

[pnt]
1692
1


[volcurve]
engine_M

[pnt]
0
0

[pnt]
300
1


###################################################################
Außensound
###################################################################

[loopsound]
D_0826LUH_ext@470.wav
48000
engine_n
470
0.8

[viewpoint]
5

[3d]
-0.7
-2.8
0.7
4.5

[volcurve]
engine_n

[pnt]
200
0

[pnt]
300
1

[pnt]
470
1

[pnt]
486
0.7

[pnt]
502
0


#############################################

[loopsound]
D_0826LUH_ext@502.wav
48000
engine_n
502
0.8

[viewpoint]
5

[3d]
-0.7
-2.8
0.7
4.5

[volcurve]
engine_n


[pnt]
470
0

[pnt]
486
0.7

[pnt]
502
1

[pnt]
605
0.7

[pnt]
708
0


#############################################

[loopsound]
D_0826LUH_ext@708.wav
48000
engine_n
708
0.8

[viewpoint]
5

[3d]
-0.7
-2.8
0.7
4.5

[volcurve]
engine_n

[pnt]
502
0

[pnt]
605
0.7

[pnt]
708
1

[pnt]
1021
0.7

[pnt]
1334
0


#############################################

[loopsound]
D_0826LUH_ext@1334.wav
48000
engine_n
1334
0.8

[viewpoint]
5

[3d]
-0.7
-2.8
0.7
4.5


[volcurve]
engine_n

[pnt]
708
0

[pnt]
1021
0.7

[pnt]
1334
1

[pnt]
1556
0.7

[pnt]
1777
0



#############################################

[loopsound]
D_0826LUH_ext@1777.wav
48000
engine_n
1777
0.8

[viewpoint]
5

[3d]
-0.7
-2.8
0.7
4.5

[volcurve]
engine_n

[pnt]
1334
0

[pnt]
1556
0.7

[pnt]
1777
1

[pnt]
2077
0.7

[pnt]
2376
0


#############################################

[loopsound]
D_0826LUH_ext@2376.wav
48000
engine_n
2376
0.8

[viewpoint]
5

[3d]
-0.7
-2.8
0.7
4.5

[volcurve]
engine_n

[pnt]
1777
0

[pnt]
2077
0.7

[pnt]
2376
1



##################################################################################
Lastsound außen
##################################################################################

[loopsound]
D_0826LUH_ext_load@670.wav
48000
engine_n
670
1

[viewpoint]
5

[3d]
-0.7
-2.8
0.7
5

[volcurve]
engine_n

[pnt]
0
0

[pnt]
670
1

[pnt]
742
0.7

[pnt]
814
0

[volcurve]
engine_M

[pnt]
0
0

[pnt]
300
1

##############################################

[loopsound]
D_0826LUH_ext_load@814.wav
48000
engine_n
814
1

[viewpoint]
5

[3d]
-0.7
-2.8
0.7
5

[volcurve]
engine_n

[pnt]
670
0

[pnt]
742
0.7

[pnt]
814
1

[pnt]
1010
0.7

[pnt]
1205
0

[volcurve]
engine_M

[pnt]
0
0

[pnt]
300
1

##############################################

[loopsound]
D_0826LUH_ext_load@1205.wav
48000
engine_n
1205
1

[viewpoint]
5

[3d]
-0.7
-2.8
0.7
5

[volcurve]
engine_n

[pnt]
814
0

[pnt]
1010
0.7

[pnt]
1205
1

[pnt]
1474
0.7

[pnt]
1743
0

[volcurve]
engine_M

[pnt]
0
0

[pnt]
300
1

##############################################

[loopsound]
D_0826LUH_ext_load@1743.wav
48000
engine_n
1743
1

[viewpoint]
5

[3d]
-0.7
-2.8
0.7
5

[volcurve]
engine_n

[pnt]
1205
0

[pnt]
1474
0.7

[pnt]
1743
1

[volcurve]
engine_M

[pnt]
0
0

[pnt]
300
1

##############################################
#############################################

Hinterachse Schubbetrieb

#############################################

Linke Seite:

[loopsound]
NG272_axle_schub@95.wav
48000
Wheel_RotationSpeed_2_L
95
0.7


[3d]
0
-0.4
0.5
7


[volcurve]
M_Wheel

[pnt]
0
1

[pnt]
1000
0



[volcurve]
Wheel_RotationSpeed_2_L

[pnt]
20
0

[pnt]
95
1

[pnt]
150
0

[loopsound]
NG272_axle_schub@273.wav
48000
Wheel_RotationSpeed_2_L
273
0.7


[3d]
0
-0.4
0.5
7


[volcurve]
M_Wheel

[pnt]
-1000
1

[pnt]
2000
0



[volcurve]
Wheel_RotationSpeed_2_L

[pnt]
20
0

[pnt]
273
1









Rechte Seite:

[loopsound]
NG272_axle_schub@95.wav
48000
Wheel_RotationSpeed_2_R
95
0.7


[3d]
0
-0.4
0.5
7


[volcurve]
M_Wheel

[pnt]
0
1

[pnt]
1000
0



[volcurve]
Wheel_RotationSpeed_2_R

[pnt]
20
0

[pnt]
95
1

[pnt]
150
0



[loopsound]
NG272_axle_schub@273.wav
48000
Wheel_RotationSpeed_2_R
273
0.7


[3d]
0
-0.4
0.5
7


[volcurve]
M_Wheel

[pnt]
-1000
1

[pnt]
2000
0



[volcurve]
Wheel_RotationSpeed_2_R

[pnt]
20
0

[pnt]
273
1



#############################################

Hinterachse Leerlauf

#############################################




#############################################

Hinterachse Traktionsbetrieb

#############################################

Linke Seite:
[loopsound]
NG272_axle@085.wav
48000
Wheel_RotationSpeed_2_L
85
0.7


[3d]
0
-0.4
0.5
7


[volcurve]
M_Wheel


[pnt]
500
0

[pnt]
3500
1

[volcurve]
Wheel_RotationSpeed_2_L

[pnt]
20
0

[pnt]
80
1

[pnt]
108
0.7

[pnt]
130
0

#############################################

[loopsound]
NG272_axle@130.wav
48000
Wheel_RotationSpeed_2_L
130
0.8


[3d]
0
-0.4
0.5
7


[volcurve]
M_Wheel


[pnt]
500
0

[pnt]
3500
1

[volcurve]
Wheel_RotationSpeed_2_L

[pnt]
80
0

[pnt]
108
0.7

[pnt]
130
1

[pnt]
145
0.7

[pnt]
159
0

#############################################

[loopsound]
NG272_axle@159.wav
48000
Wheel_RotationSpeed_2_L
159
0.8


[3d]
0
-0.4
0.5
7


[volcurve]
M_Wheel


[pnt]
500
0

[pnt]
3500
1

[volcurve]
Wheel_RotationSpeed_2_L

[pnt]
130
0

[pnt]
145
0.7

[pnt]
159
1

[pnt]
184
0.7

[pnt]
209
0

#############################################

[loopsound]
NG272_axle@209.wav
48000
Wheel_RotationSpeed_2_L
209
0.8


[3d]
0
-0.4
0.5
7


[volcurve]
M_Wheel


[pnt]
500
0

[pnt]
3500
1

[volcurve]
Wheel_RotationSpeed_2_L

[pnt]
159
0

[pnt]
184
0.7

[pnt]
209
1

[pnt]
228
0.7

[pnt]
246
0


#############################################

[loopsound]
NG272_axle@246.wav
48000
Wheel_RotationSpeed_2_L
246
0.8


[3d]
0
-0.4
0.5
7


[volcurve]
M_Wheel


[pnt]
500
0

[pnt]
3500
1

[volcurve]
Wheel_RotationSpeed_2_L


[pnt]
209
0

[pnt]
228
0.7

[pnt]
246
1



Rechte Seite:
[loopsound]
NG272_axle@085.wav
48000
Wheel_RotationSpeed_2_R
85
0.7


[3d]
0
-0.4
0.5
7


[volcurve]
M_Wheel


[pnt]
500
0

[pnt]
3500
1

[volcurve]
Wheel_RotationSpeed_2_R

[pnt]
20
0

[pnt]
80
1

[pnt]
108
0.7

[pnt]
130
0

#############################################

[loopsound]
NG272_axle@130.wav
48000
Wheel_RotationSpeed_2_R
130
0.8


[3d]
0
-0.4
0.5
7


[volcurve]
M_Wheel


[pnt]
500
0

[pnt]
3500
1

[volcurve]
Wheel_RotationSpeed_2_R

[pnt]
80
0

[pnt]
108
0.7

[pnt]
130
1

[pnt]
145
0.7

[pnt]
159
0

#############################################

[loopsound]
NG272_axle@159.wav
48000
Wheel_RotationSpeed_2_R
159
0.8


[3d]
0
-0.4
0.5
7


[volcurve]
M_Wheel


[pnt]
500
0

[pnt]
3500
1

[volcurve]
Wheel_RotationSpeed_2_R

[pnt]
130
0

[pnt]
145
0.7

[pnt]
159
1

[pnt]
184
0.7

[pnt]
209
0

#############################################

[loopsound]
NG272_axle@209.wav
48000
Wheel_RotationSpeed_2_R
209
0.8


[3d]
0
-0.4
0.5
7


[volcurve]
M_Wheel


[pnt]
500
0

[pnt]
3500
1

[volcurve]
Wheel_RotationSpeed_2_R

[pnt]
159
0

[pnt]
184
0.7

[pnt]
209
1

[pnt]
228
0.7

[pnt]
246
0


#############################################

[loopsound]
NG272_axle@246.wav
48000
Wheel_RotationSpeed_2_R
246
0.8


[3d]
0
-0.4
0.5
7


[volcurve]
M_Wheel


[pnt]
500
0

[pnt]
3500
1

[volcurve]
Wheel_RotationSpeed_2_R


[pnt]
209
0

[pnt]
228
0.7

[pnt]
246
1



#############################################

Retarder

#############################################

[loopsound]
retarder02.wav
44100
Wheel_RotationSpeed_2_R
47
1


[3d]
0
-1.8
0.6
7

[volcurve]
-1

[pnt]
0
0

[pnt]
1
1

[volcurve]
Wheel_RotationSpeed_2_R

[pnt]
0
0

[pnt]
20
0.7

[pnt]
47
1

[pnt]
79
0.7

[pnt]
110
0


[volcurve]
antrieb_retarder_volume

[pnt]
0
0

[pnt]
1
1

[conditionSingle]
antrieb_wendesatz
1
1




[loopsound]
NG272_retarder@104.wav
48000
Wheel_RotationSpeed_2_R
104
1


[3d]
0
-1.8
0.6
7

[volcurve]
-1

[pnt]
0
0

[pnt]
1
1

[volcurve]
Wheel_RotationSpeed_2_R

[pnt]
47
0

[pnt]
79
0.7

[pnt]
104
1

[pnt]
135
0.7

[pnt]
160
0

[volcurve]
antrieb_retarder_volume

[pnt]
0
0

[pnt]
1
1

[conditionSingle]
antrieb_wendesatz
1
1





[loopsound]
NG272_retarder@160.wav
48000
Wheel_RotationSpeed_2_R
160
1


[3d]
0
-1.8
0.6
7

[volcurve]
-1

[pnt]
0
0

[pnt]
1
1

[volcurve]
Wheel_RotationSpeed_2_R

[pnt]
110
0

[pnt]
135
0.7

[pnt]
160
1

[pnt]
185
0.7

[pnt]
209
0

[volcurve]
antrieb_retarder_volume

[pnt]
0
0

[pnt]
1
1

[conditionSingle]
antrieb_wendesatz
1
1




[loopsound]
NG272_retarder@209.wav
48000
Wheel_RotationSpeed_2_R
209
1


[3d]
0
-1.8
0.6
7

[volcurve]
-1

[pnt]
0
0

[pnt]
1
1

[volcurve]
Wheel_RotationSpeed_2_R


[pnt]
160
0

[pnt]
185
0.7


[pnt]
209
1

[volcurve]
antrieb_retarder_volume

[pnt]
0
0

[pnt]
1
1

[conditionSingle]
antrieb_wendesatz
1
1

#############################################

Retarder-Einsetzsound

#############################################

[loopsound]
NG272_retarder_start@85.wav
44100
Wheel_RotationSpeed_2_R
85
1

[noloop]

[3d]
0
-1.8
0.6
7

[conditionSingle]
antrieb_wendesatz
1
1

[volcurve]
Wheel_RotationSpeed_2_R

[pnt]
0
0

[pnt]
85
1

[pnt]
150
0.7

[pnt]
200
0

[volcurve]
antrieb_retarder

[pnt]
0
0

[pnt]
1
1



[loopsound]
NG272_retarder_start@216.wav
48000
Wheel_RotationSpeed_2_R
216
1

[noloop]

[3d]
0
-1.8
0.6
7

[conditionSingle]
antrieb_wendesatz
1
1

[volcurve]
Wheel_RotationSpeed_2_R

[pnt]
100
0

[pnt]
216
1

[volcurve]
antrieb_retarder

[pnt]
0
0

[pnt]
1
1





#############################################
Getriebeheulen im 1. Gang
[loopsound]
retarder02.wav
44100
antrieb_n_kardanwelle
762
0.7

[3d]
0
-0.4
0.6
7


[volcurve]
M_Wheel

[pnt]
-7000
1

[pnt]
0
0.2

[pnt]
6000
1


[volcurve]
antrieb_n_kardanwelle

[pnt]
0
0

[pnt]
100
1

[pnt]
550
0.5

[pnt]
750
1

[conditionSingle]
antrieb_getr_aktugang
1
1

#############################################

Schaltsounds

#############################################

[loopsound]
D_Downshift_3-2_128.wav
48000
Wheel_RotationSpeed_2_L
128
0.7

[3d]
0
-1.8
0.6
7

[volcurve]
antrieb_n_kardanwelle

[pnt]
0
0

[pnt]
100
1

[volcurve]
antrieb_retarder

[pnt]
0
0

[pnt]
1
1

[trigger]
ev_gear_downshift2



[loopsound]
D_Upshift_1-2_144.wav
48000
Wheel_RotationSpeed_2_L
144
1

[3d]
0
-1.8
0.6
7

[volcurve]
antrieb_n_kardanwelle

[pnt]
0
0

[pnt]
100
1

[trigger]
ev_gear_upshift2



[loopsound]
D_Upshift_2-3_194.wav
48000
Wheel_RotationSpeed_2_L
194
1

[3d]
0
-1.8
0.6
7

[volcurve]
antrieb_n_kardanwelle

[pnt]
0
0

[pnt]
100
1

[volcurve]
M_Wheel

[pnt]
2000
0

[pnt]
3000
1

[trigger]
ev_gear_upshift3


[loopsound]
D_Upshift_2-3_191_leer.wav
48000
Wheel_RotationSpeed_2_L
191
1

[3d]
0
-1.8
0.6
7

[volcurve]
antrieb_n_kardanwelle

[pnt]
0
0

[pnt]
100
1

[volcurve]
M_Wheel

[pnt]
2000
1

[pnt]
3000
0

[trigger]
ev_gear_upshift3





[sound]
D_schaltruck_laut.wav
1

[3d]
0
-1.8
0.6
4.0

[volcurve]
antrieb_rucksoundvol

[pnt]
0
0.15

[pnt]
600
0.15

[pnt]
900
1


[trigger]
ev_schaltruck

[sound]
NG272_retarder_off@0.wav
1

[3d]
0
-1.8
0.6
4.5

[trigger]
ev_retarder_aus





###############################################

	Türen

###############################################




[sound]
D92_bdoor_opn.wav
1

[3d]
1.11
1.12
2.03
2

[volcurve]
door_4

[pnt]
0
1

[pnt]
0.98
1

[pnt]
1
0

[trigger]
ev_doortriggeropen_4

[sound]
D92_bdoor_cls.wav
1

[3d]
1.11
1.12
2.03
2

[volcurve]
door_4

[pnt]
0
0

[pnt]
0.01
1

[pnt]
1
1


[trigger]
ev_doortriggerclose_4



....................
	Türentriegelung

[sound]
doorlock.wav
1.0

[3d]
1.11
1.12
2.03
2




[trigger]
ev_doorEntriegelung_45_off

[trigger]
ev_doorEntriegelung_45_on


.......


[sound]
D92_door_entriegelung_off.wav
1.0

[3d]
1.11
1.12
2.03
2


[trigger]
ev_doorEntriegelung_45_active_off




###############################################




######################################
Umluftheizung

[loopsound]
Umluftheizung.wav
48000
cabinheater_RPM
100
1

[3d]
-0.54
-1.15
1.2
5


[volcurve]
cabinheater_RPM

[pnt]
30
0

[pnt]
100
1




##################################
Klappfenster

[sound]
klappfenster_opn.wav
1

[3d]
0
-2
2.3
5

[trigger]
ev_klappfenster_opn_T

[sound]
klappfenster_cls.wav
1

[3d]
0
-2
2.3
5

[trigger]
ev_klappfenster_cls_T


#######################
Turbolader
#######################

[loopsound]
turbo_056.wav
44100
engine_turbo_RPM
28
0.05


[3d]
-0.7
-4.5
0.5
3

[volcurve]
engine_turbo_RPM

[pnt]
0
0

[pnt]
25
0

[pnt]
50
1

[pnt]
70
0.7

[pnt]
84
0

[loopsound]
turbo_084.wav
44100
engine_turbo_RPM
42
0.1


[3d]
-0.7
-4.5
0.5
3

[volcurve]
engine_turbo_RPM

[pnt]
56
0

[pnt]
70
0.7

[pnt]
84
1

[pnt]
92
0.7

[pnt]
100
0


[loopsound]
turbo_100.wav
44100
engine_turbo_RPM
50
0.2


[3d]
-0.7
-4.5
0.5
3

[volcurve]
engine_turbo_RPM

[pnt]
84
0

[pnt]
92
0.7

[pnt]
100
1

Gelenk-Quietschen

[loopsound]
Gelenk_Quietschen01.wav
48000
articulation_0_alpha_pitch
1
2

[3d]
0
2
0.5
3

[volcurve]
articulation_0_alpha_speed

[pnt]
-0.3
1

[pnt]
0
0

[pnt]
0.3
1

[volcurve]
articulation_0_alpha

[pnt]
-5
1

[pnt]
-1
0

[pnt]
1
0

[pnt]
5
1

[volcurve]
articulation_0_alpha_volume

[pnt]
-0.5
0

[pnt]
0
0.3

[pnt]
1
1


[loopsound]
Gelenk_Quietschen02.wav
48000
articulation_0_beta_pitch
1
2

[3d]
0
2
0.5
3

[volcurve]
articulation_0_beta_speed

[pnt]
-0.05
1

[pnt]
0
0

[pnt]
0.05
1

[volcurve]
articulation_0_beta

[pnt]
-0.5
1

[pnt]
-0.05
0

[pnt]
0.05
0

[pnt]
0.5
1

[volcurve]
articulation_0_beta_volume

[pnt]
-0.5
0

[pnt]
0
0.3

[pnt]
1
1
